# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/

# Virtual environments
.venv/
venv/
activate/
ENV/
env/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Logs
*.log

# Misc
*.sqlite3
*.db

# Ignore secrets
secrets.*

# Vector store data
vector_store/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb